*
        .menu-resto{
          min-height: 5%;
          background: #FFFFFF;
        }
        .active{
          color: #FFD700 !important;
        }
        .nav-link{
          color: #000000;
        }

        .navbar-toggler{
          outline: none !important;
        }

        .header{
          padding: 100px;
        }

        .admin{
          margin-left: 10px;
          padding: 4px;
        }

        .box-makanan{
          width: 300px;
          height: 450px;
          box-shadow: 1px 1px 5px 1px #cdcdcd;
          overflow: hidden;
          border-radius: 15px;
          float: left;
          margin-left: 60px;
          margin-right: 50px;
          margin-bottom: 50px;
        }

        .box-makanan > img{
          width: 60%;
          height: 40%;
          object-fit: cover;
          margin-left: 55px;
        }
        .box-makanan > b{
          width: 150px;
          height: 30px;
          padding: 10px 20px;
          text-overflow: ellipsis;
        }
        .box-makanan > p{
          font-size: xx-small;
          width: 300px;
          height: 40px;
          padding: 10px 20px;
          text-overflow: ellipsis;
        }
        .box-makanan > a{
          margin: 30px 20px;
          background-color: #FF6347;
          color: white;
          padding: 10px 20px;
          text-decoration: none;
          border-radius: 5px;
        }
        .box-makanan:hover{
          box-shadow: 1px 1px 5px 0 #FFD700;
        }

        footer{
          background-color: black;
          color: #fff;
          padding: 10px 200px;
        }

        footer > h3{
          margin: 0;
          font-size: 20px;
          font-weight: bold;
        }

        footer > .contact{
          display: inline-block;
        }

        footer > .contact > p{
          float: left;
          margin: 0;
          margin-right: 30px;
        }

        footer > .contact > .text-call{
          font-size: 18px;
          font-weight: bold;
        }

        footer > .kebijakan{
          margin-top: 10px;
          color: #919191;
          font-size: 14px;
        }

        .box-pesanan{
          padding: 50px;
          display: flex;
    
          justify-content: center;
        }

        .jumlah-pesanan{
          width: 55%;
          padding: 15px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 1px solid #dcdcdc;
          border-radius: 15px;
          box-shadow: 1px 1px 5px 1px #cdcdcd;  
        }

        .jumlah-pesanan > p{
          font-size: 20px; 
        }

        .jumlah-pesanan:hover{
          box-shadow: 1px 1px 5px 0 #FFD700;
        }